body{
    padding: 0%;
    margin: 0%;
}
*{
    box-sizing: border-box;
}

.menu{
  background: linear-gradient(to right, rgba(60, 65, 66, 0.8), 
  rgba(0, 0, 0, 0.6)), url("img/manzil.jpg") center top no-repeat;
  z-index: 0;
  background-size: cover;
  height: 700px;
   
}
.h6{
    margin-top: 3vh;
    margin-left: 3vh;
    color: thistle;
}
.p{
    background-color: rgb(91, 102, 102);
    opacity: 0.7;
    color: azure;
    font-size: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
    max-width: 95%;
    margin-left: 2vh;
    border: 2px solid black;
}
.thead{
    text-align: center;
    border: 3px solid rgb(248, 1, 1);
}
.tbody{
    border: 2px solid black;
}
td,th{
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
}



  /* footer */

  .footer-newsletter {
    background: #1d2327;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
  }
  
  
   .footer-newsletter form {
    margin-top: 40px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
  }
  
   .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    outline: 0ch;
    width: calc(100% - 100px);
  }
  
   .footer-newsletter form input[type="submit"] {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #68A4C4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
   .footer-newsletter form input[type="submit"]:hover {
    background: #468db3;
  }
  
   .footer-top {
    background: #0d2735;
    border-top: 1px solid #17455e;
    border-bottom: 1px solid #123649;
    padding: 60px 0 30px 0;
  }
  
   .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
   .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    color: #a2cce3;
    font-weight: 600;
  }
  
   .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
   .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #161718;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
   .footer-top .social-links a:hover {
    background: #68A4C4;
    color: #fff;
    text-decoration: none;
  }
  
   .footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #a2cce3;
    position: relative;
    padding-bottom: 12px;
  }
  
   .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
   .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
   .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #a2cce3;
    font-size: 18px;
    line-height: 1;
  }
  
   .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
   .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
   .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
   .footer-top .footer-links ul a:hover {
    color: #a2cce3;
  }
  
   .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
   .footer-top .footer-contact p {
    line-height: 26px;
  }
  
   .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
   .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
   .credits a {
    color: #a2cce3;
  }
  .footer-contact{
      color: white;
  }

  
  
.form-groupga {
display: flex;
margin-top: 25px;

}

.button {
margin-top: 50px;
margin-left: 30px;
height: 40px;
background-color: greenyellow;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: rgb(20, 19, 19);
}
  
.fab{
    font-size: 5vh;
    margin: 15px;
  }
  