body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.menu {
  background: linear-gradient(
      to right,
      rgba(60, 65, 66, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url("koryoimg/aaaa.png") center top no-repeat;
  z-index: 0;
  background-size: cover;
  height: 700px;
}
.collapse {
  margin-right: 50px;
  margin-top: 20px;
  margin-left: 50px;
}
.navbar-nav {
  font-weight: bold;
}
h6 {
  margin-top: 4vh;
  margin-left: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

/* swipe here */

#homesection .container {
  position: relative;
  height: 500px;
  height: 80vh;
}

.swiper-container {
  margin-left: 55px;
  width: 90%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
}
.btn {
  color: white;
  border-radius: 0px;
  outline: 0px;
}
.btnn {
  margin-top: 40px;
  border: #68a4c4 1px solid;
  padding: 10px 20px;
  border-radius: 20px;
}
.btnn:hover {
  background-color: #68a4c4;
}
.dolor {
  font-size: 6vh;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
}

/* footer */

.footer-newsletter {
  background: #1d2327;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.footer-newsletter form {
  margin-top: 40px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

.footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  outline: 0ch;
  width: calc(100% - 100px);
}

.footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #68a4c4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

.footer-newsletter form input[type="submit"]:hover {
  background: #468db3;
}

.footer-top {
  background: #0d2735;
  border-top: 1px solid #17455e;
  border-bottom: 1px solid #123649;
  padding: 60px 0 30px 0;
}

.footer-top .footer-info {
  margin-bottom: 30px;
}

.footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #a2cce3;
  font-weight: 600;
}

.footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #161718;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer-top .social-links a:hover {
  background: #68a4c4;
  color: #fff;
  text-decoration: none;
}

.footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a2cce3;
  position: relative;
  padding-bottom: 12px;
}

.footer-top .footer-links {
  margin-bottom: 30px;
}

.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top .footer-links ul i {
  padding-right: 2px;
  color: #a2cce3;
  font-size: 18px;
  line-height: 1;
}

.footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer-top .footer-links ul a:hover {
  color: #a2cce3;
}

.footer-top .footer-contact {
  margin-bottom: 30px;
}

.footer-top .footer-contact p {
  line-height: 26px;
}

.copyright {
  text-align: center;
  padding-top: 30px;
}

.credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.credits a {
  color: #a2cce3;
}
.footer-contact {
  color: white;
}

.form-groupga {
  display: flex;
  margin-top: 25px;
}

.button {
  margin-top: 50px;
  margin-right: 80px;
  height: 40px;
  background-color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(20, 19, 19);
}




/* Responsive CSS */

@media (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 480px;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 16px;
  }

  .more .read-more,
  .more .icon-links a i {
    font-size: 18px;
  }
}

.vedio1,
.vedio2,
.vedio3,
.vedio4,
.vedio5,
.vedio6 {
  margin-top: 10vh;
  background-color: gray;
  margin: 8px;
}

.fab {
  font-size: 5vh;
  margin: 15px;
}

.map {
  text-align: center;
}

/* loader hh */

.container {
  width: 90%;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  gap: 10px;
  padding-top: 100px;
}
.box {
  background: crimson;
}
.dayNightBtn  {
  position: fixed;
  z-index: 100;
  margin-top: 410px;
}
.dayNightBtl{
  position: fixed;
  margin-top: 360px;
  z-index: 100;
}
.map{
  margin-top: 30px;
}








/* PRODUCT CARDS */

.slick-list {
  overflow: visible;
}

.slick-track {
  display: flex;
  /* essential point */
}

.slick-slide {
  display: flex;
  height: auto;
  /* essential point */
}

.m-slider {
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 15px;
  background-color: #eee;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.m-slider .m-slider__item {
  display: flex;
  /* essential point */
  flex: 0 1 auto;
  margin: 0 15px;
  width: 100%;
}

.m-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
.m-card .m-card__header {
  padding-top: 75%;
  height: 0;
  background-position: center;
  background-size: cover;
}
.m-card .m-card__body {
  margin-top: 15px;
}
.m-card:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.slider {
  margin: 0 -30px;
}

.cards {
  margin-top: 30px;
}
.cards .cards__note {
  margin-top: 30px;
}
.cards .cards__body {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .cards .cards__body {
    display: flex;
  }
}
.cards .cards__item {
  display: flex;
  flex: 0 1 auto;
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cards .cards__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .cards .cards__item:not(:last-of-type) {
    margin-right: 30px;
  }
}